/* style.css */
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
#title-2, #title-3{
    display: none;
}
li{
    list-style: none;
}
#skills li,
#historic li{
    list-style-type: disc;
}
#head button{
    display: none;
}