/* style.css */
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}