/* style.css */
body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1em;
    color: #fff;
}
.head, .body, .foot{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    background-image: url('../images/person_header.jpeg');
    min-height: 100%;
}
.head-content{
    position: absolute;
    /* margin-top: 15%; */
    margin-left: 8%;
    top: 160px;
    left: 55%;
    font-size: 1.5rem;
}
.body{
    background-image: url('../images/person_body.jpeg');
    min-height: 400px;
}
.foot{
    background-image: url('../images/person_footer.jpeg');
    min-height: 400px;
}
.bg-light{
    background-color: #fff;
    color: #000;
}
.bg-dark{
    background-color: #000;
    color: #fff;
}
.center{
    position: absolute;
    text-align: center;
}
.middle{
    vertical-align: middle;
}
.tamanho-exemplo{
    min-height: 540px;
}
footer{
    min-height: 400px;
}
.altura-100{
    height: 100%;
}
.bg-light-dark{
    background-image: linear-gradient(to bottom, url('../images/bg-transparent.png') 50%, #000);
}