@media screen {
  
  
}
body{
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  border: 0;
}
section{
  /* margin: 15px; */
}
section ul{
  margin: 10px 0 0 20px;
}
section ul li{
  margin: 5px 0 5px 25px;
}
section li{
  /* font-size: 16px; */
}
section span{
  margin: 5px 0 5px 10px;
}
h1, h2, strong{
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
  margin: 5px;
}

/* h1{
  font-size: 1.6rem;
}

h2{
  font-size: 1.4rem;
}

h3{
  font-size: 1.2rem;
}

h4{
  font-size: 1rem;
}

h5{
  font-size: 0.8rem;
}

h6{
  font-size: 0.6rem;
} */

a{
  text-decoration: none;
  color: #000;
}
a:visited{
  color: #000;
}
a:hover{
  color: #000;
}
#titulo{

}
#titulo button{
  display: none;
}
#contato{

}
#objetivo{

}
#habilidade{

}
.habilidade li, .historico li{
  list-style: square;
}
#formacao{
  
}
#idioma{
  
}
#historico{
  
}
#curso{

}
.curso ul li{
  /* font-size: 12px; */
}
.asterisco{
  font-size: 8px;
}
@media print{
  header{
    display: none;
  }
  footer{
    display: none;
  }
  #container{
    width:900px;
    height: 1330px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    background-color: #fff;
    vertical-align: middle;
    align-content: center;
    align-items: center;
  }
}