@media screen {
  
}

body{
  font-family: Arial, sans-serif;
}

section{
  margin: 15px;
  padding: 0;
  border: 0;
}

section ul{
  margin: 10px 0 0 20px;
}

section ul li{
  margin: 5px 0 5px 10px;
}

h1, h2{
  font-weight: 700;
}

h1{
  font-size: 1.5rem;
  margin: 10px;
}

h2{
  font-size: 1.3rem;
  margin: 8px;
}

h3{
  font-size: 1.1rem;
  margin: 5px;
}

a{
  text-decoration: none;
  color: #000;
}
a:visited{
  color: #000;
}

a:hover{
  color: #000;
}

.titulo{

}

.contato{

}

.objetivo{

}

.habilidade{

}

.habilidade li, .historico li{
  list-style: square;
}

.formacao{

}

.idioma{

}

.historico{

}

.curso{

}

.asterisco{

}


@media print{

}