body{
  font-family: Arial, sans-serif;
}

h1{
  font-size: 1.5rem;
  font-weight: 700;
}

h2{
  font-size: 1.3rem;
  font-weight: 500;;
}

h3{
  font-size: 1.1rem;
  font-weight: 300;
}

.contato{
  margin: 10px 15px;
}

@media print{

}