/* main.css */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    border: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

.page {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.content {
    overflow: hidden;
}

.card {
    background-color: #f1f1f1;
    margin: 0.3em;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px #989898;
}

.card-effect {
    transition: 0.3s ease-in;
}

.card-effect:hover {
    box-shadow: 13px 13px 13px #989898;
    border-radius: 0.2em;
}

a{
    text-decoration: none;
}

ul{
    margin-left: 2em;
}

li{
    list-style: none;
}

.container {
    width: 100%;
    height: auto;
}

.row {
    width: 320px;
    margin: 0 auto;
}

/* Header */

nav {
    width: 100%;
    height: 3.5em;
    display: block;
    cursor: unset;
}

nav h1 {
    font-size: 1.2em;
}

nav h1:after {
    content: '';
}

.menu {
    padding: 1em;
}

/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fff;
}

footer p {
    font-size: 0.7em;
}

footer p:last-child {
    font-size: 0.5em;
}

.foot {
    width: 90%;
    padding: 1em 0;
    text-align: left;
    margin: 0 auto;
}