/* main.css */

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

nav {
    height: 3.5em;
    margin: 5px;
    display: inline-block;
    /* background-color: #fff; */

}

nav h1 {
    font-size: 1.3em;
}

nav h1:after {
    /* content: ' | JS Developer'; */
}

a{
    text-decoration: none;
}

ul{
    margin-left: 2em;
}

li{
    list-style: none;
}

.row {
    width: 320px;
    margin: 0 auto;
}

/* Footer */
footer .foot{
    margin: 1em 0;
}

footer p {
    font-size: 0.8em;
    text-align: center;
}

footer p:last-child {
    font-size: 0.7em;
}

