/* main.css */
/*
:root {
    --color-menu-primary: rgba(13, 110, 139, 0.75);
    --colo-menu-bg: rbga(24, 39, 51, .85);
    --color-white: #fff;
    --color-dark: #000;
    --menu-speed: 2s;
}
*/

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1C1C1C;
    width: 100vw;
    height: 100vh;
}

.bg-ws {
    background-image: url(../images/bg_jsdeveloper.png);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

.tamanho {
    width: 250px;
    height: 250px;
}

.centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
}

.sombra {
    box-shadow: 5px 5px 5px rgba(0,0,0, .5);
}

a {
    cursor: pointer;
}

i {
    font-size: 2em;
}

.rodape {
    position: fixed;
    bottom: 5px;
    font-size: .5em;
    margin-left: 15px;
    margin-right: 15px;
}

#alertCookie {
    display: block;
}

#alertCookie.hide {
    display: none;
}

.box-cookie {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    /* width: 98.5%; */
    /* max-width: 960px; */
    background: rgba(28, 28, 28, .95);
    color: #f1f1f1;
    margin: 1.5%;
    margin-bottom: 1.5em;
    padding: 15px;
    box-sizing: border-box;
}

.btn-primary {
    text-transform: uppercase;
    background-color: #359BFF !important;
    border-radius: 0 !important;
}

.btn-secondary{
    border-radius: 0 !important;
    vertical-align: bottom !important;
}

.btn-primary:hover {
    background-color: #0876E1 !important;
}

.btn-sm {
    font-size: .475rem !important;
}

.cookie-text {
    font-size: .6em;
    margin: .3em;
    margin-right: 1em;
    padding: .2em;
    text-align: justify;
    box-sizing: border-box;
}

.band {
    position: relative;
    width: 16em;
    height: 16em;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

.text-band{
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    background-color: rgb(235, 0, 0);
    color: #f1f1f1;
    transform: rotate(-45deg);
    padding: 10px;
    top: 40px;
    left: -6em;
    overflow: hidden;
    width: 19em;
    z-index: 9999;
}