/* main.css */
/*
:root {
    --color-menu-primary: rgba(13, 110, 139, 0.75);
    --colo-menu-bg: rbga(24, 39, 51, .85);
    --color-white: #fff;
    --color-dark: #000;
    --menu-speed: 2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body{
    border: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

.page {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.content {
    overflow: hidden;
}

.card {
    background-color: #f1f1f1;
    margin: 0.3em;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px #989898;
}

.card-effect {
    transition: 0.3s ease-in;
}

.card-effect:hover {
    box-shadow: 13px 13px 13px #989898;
    border-radius: 0.2em;
}

a{
    text-decoration: none;
}

ul{
    margin-left: 2em;
}

li{
    list-style: none;
}

.container {
    width: 100%;
    height: auto;
}

.row {
    width: 320px;
    margin: 0 auto;
}

*/

/* Header */

/*
header {
    width: 100%;
    height: 3.5em;
    display: inline-block;
    cursor: unset;
}

header h1 {
    font-size: 1.2em;
}

header h1:after {
    content: '';
}

.head {
    padding: 1em;
}

nav {
    min-height: 3em;
}

*/

/* Menu */

/*

.menu {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: lightblue;
    cursor: pointer;
}

.menu span > div {
    width: 100%;
    background-color: blue;
    transition: width 2s ease;
    z-index: 1;
}

.hamburger {
    position: relative;
    display: block;
    background-color: var(--color-dark);
    width: 25px;
    height: 3px;
    top: 25px;
    left: 5px;
    transition: all .5s ease;
    z-index: 2;
}

.hamburger:before, .hamburger:after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    background-color: var(--color-dark);
    transition: all .5s ease;
}

.hamburger:before {
    top: -10px;
    width: 40px;
}

.hamburger:after {
    bottom: -10px;
    width: 40px;
}

header h1 {
    margin-left: 60px;
}

input {
    display: none;
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
    width: 40px;
}

input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0px;
}

input:checked ~ label .menu > div{
    width: 100%;
}

*/

/* Footer */

/*

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fff;
}

footer p {
    font-size: 0.7em;
}

footer p:last-child {
    font-size: 0.5em;
}

.foot {
    width: 90%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}

*/

body {
    background-color: #f1f1f1;
    font-size: 16px;
    color: #1C1C1C;
    background: url(../images/bg_jsdeveloper.png);
}

.teste {
    filter: grayscale(100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /* transform: skew(-25deg); */
    z-index: -9999;
}

.tamanho {
    width: 250px;
    height: 250px;
}

.centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
}

.sombra {
    box-shadow: 5px 5px 5px rgba(0,0,0, .5);
}

i {
    font-size: 32px;
}

.rodape {
    position: fixed;
    bottom: 5px;
    font-size: .6em;
}

#alertCookie {
    display: block;
}

#alertCookie.hide {
    display: none;
}

.box-cookie {
    position: fixed;
    z-index: 998;
    bottom: 0;
    width: 98.5%;
    background: rgba(28, 28, 28, .95);
    color: #f1f1f1;
    margin: 0.75%;
    margin-bottom: 1.5em;
    padding: 15px;
    box-sizing: border-box;
}

.btn-secondary {
    transition: all ease .5s;
}

.btn-secondary {
    background-color: #359BFF !important;
    border-radius: 0 !important;
}

.btn-secondary:hover {
    background-color: #0876E1 !important;
}

.cookie-text {
    font-size: .6em;
    margin: .3em;
    margin-right: 1em;
    padding: .2em;
    text-align: justify;
    box-sizing: border-box;
}