/* mediaqueires.css */

@media (max-width: 374px) {
    .tamanho {
        width: 12.5em;
        height: 12.5em;
    }
    
    .centralizado {
        margin-top: -6.5em;
        margin-left: -6.5em;
    }

    .band {
        width: 12.5em;
        height: 12.5em;
    }

}

@media (min-width: 375px) {
    .tamanho {
        width: 16em;
        height: 16em;
    }
    
    .centralizado {
        margin-top: -8em;
        margin-left: -8em;
    }
}