/* mediaqueires.css */

@media (max-width: 374px) {
    .tamanho {
        width: 12.5em;
        height: 12.5em;
    }
    
    .centralizado {
        margin-top: -6.5em;
        margin-left: -6.5em;
    }

    .band {
        width: 12.5em;
        height: 12.5em;
    }

}

@media (min-width: 375px) {
    .tamanho {
        width: 16em;
        height: 16em;
    }
    
    .centralizado {
        margin-top: -8em;
        margin-left: -8em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .box-cookie {
        width: 98.5%;
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .box-cookie {
        width: 98.5%;
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .box-cookie {
        width: 98.5%;
        max-width: 960px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .box-cookie {
        width: 98.5%;
        max-width: 1140px;
    }
}