/* mediaqueires.css */

@media (max-width: 374px) {
    .tamanho {
        width: 200px;
        height: 200px;
    }
    
    .centralizado {
        margin-top: -100px;
        margin-left: -100px;
    }
}

@media (min-width: 375px) {
    .tamanho {
        width: 250px;
        height: 250px;
    }
    
    .centralizado {
        margin-top: -125px;
        margin-left: -125px;
    }
}