/* style.css */
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1{
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    line-height: 1.2em;
}

a{
    text-decoration: none;
}

ul{
    margin-left: 2em;
}

li{
    list-style: none;
}

section{
    
}

#skills li,
#historic li{
    list-style-type: disc;
}

div.exp{
    margin-left: 2em;
}

.container{
    margin: 10px auto;
}

.card{
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0,0,0,.5);
}

.row{
    width: 100%;
    position: relative;
}

.oculto{
    display: none;
}

@media only screen and (max-width: 320px) and (orientation: portrait){
    .container{
        max-width: 95%;
    }
}