/* style.css */
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    margin-left: 35px;
}
li{
    list-style: none;
}
#skills li,
#historic li{
    list-style-type: disc;
}
div.exp{
    margin-left: 35px;
}
#head button{
    display: none;
}
.oculto{
    display: none;
}